.table {
	display: grid;
	grid-template-columns: 200px 1fr 150px;

	margin-bottom: 40px;

	text-align: center;
}

.user {
	display: grid;
	grid-template-columns: 200px;
}

.user span {
	padding: 3px;

	border: 1px solid rgb(0 0 0 / 36.3%);
	background: var(--primary);
}

.user span:first-child {
	border: 1px solid rgb(0 0 0 / 36.3%);
	border-radius: 8px 0 0;
}

.user span:last-child {
	border: 1px solid rgb(0 0 0 / 36.3%);
	border-radius: 0 0 0 8px;
}

.total span:first-child {
	border: 1px solid rgb(0 0 0 / 36.3%);
	border-radius: 0 8px 0 0;
}

.total span:last-child {
	border: 1px solid rgb(0 0 0 / 36.3%);
	border-radius: 0 0 8px;
}

.days {
	display: grid;
	overflow: hidden;

	width: 730px;
	grid-template-columns: 1fr;
}

.day {
	display: flex;
	justify-content: space-between;

	background: var(--primary);
}

.date {
	width: 65px;
	padding: 3px;

	border: 1px solid rgb(0 0 0 / 36.3%);
}

.block {
	display: grid;
	grid-template-columns: 1fr;
}

.hours {
	display: flex;
	justify-content: space-between;
}

.hour {
	width: 65px;
	padding: 3px;

	border: 1px solid rgb(0 0 0 / 36.3%);
}

.total {
	display: grid;
}

.total span {
	padding: 3px;

	border: 1px solid rgb(0 0 0 / 36.3%);
	background: var(--primary);
}

.input {
	margin: 0 0 20px;
	padding: 10px 15px;

	border-radius: 5px;

	font-size: 18px;
}
